.modal-container {
  overflow-y: scroll;
  max-height: 90dvh;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 900px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.modal-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #6a1e8e;
  margin: 0;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modal-form {
  flex: 1;
}

.modal-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.form-field {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.button-group button {
  flex: 1;
}

button {
  min-height: 40px;
}

@media (max-width: 768px) {
  .modal-card {
    gap: 0px;
    padding: 16px;
  }

  .modal-body {
    flex-direction: column;
  }

  .modal-image {
    order: -1;
  }

  .button-group {
    flex-direction: column;
    gap: 8px;
  }
}
